@page "/products-insert"
@using System.Collections.Generic
@using BlazorApp.Models
@using BlazorApp.Services
@using BlazorApp.Forms
@using BlazorApp.Data
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<IsvaerftetDbContext> DbContextFactory
@inject NavigationManager NavMan

<h1>Create new product</h1>

<h2>@status</h2>

<EditForm Model="@productForm" OnValidSubmit="@InsertProduct">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">
        <label for="Name">Name</label>
        <InputText @bind-Value=productForm.Name />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <InputTextArea @bind-Value=productForm.Description />
    </div>
    <div class="form-group">
        <label for="Image">Image</label>
        <InputText @bind-Value=productForm.Image />
    </div>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private ProductForm productForm = new ProductForm();
    private string status = "not submitted";

    private async Task InsertProduct()
    {
        using (var ctx = DbContextFactory.CreateDbContext())
        {
            ctx.Products.Add(new Product()
                {
                    Title = productForm.Name,
                    Description = productForm.Description,
                    Image = productForm.Image
                });
            await ctx.SaveChangesAsync();
        }
        NavMan.NavigateTo("products");
    }
}
