@if (number != 0)
{
    <div>
        <Tree number=@(number - 1)/>
        <p>Tree @number</p>
        <Tree number=@(number - 1)/>
    </div>
}

@code
{
    [Parameter]
    public int number { get; set; }
}
