/* _content/gui-dos/Pages/FillOrder.razor.rz.scp.css */
.left[b-h4ar47suqk]{
    width: 65%;
    float: left;
}
.right[b-h4ar47suqk]{
    width: 35%;
    float: right;
}
.rightCenter[b-h4ar47suqk] {
    margin: auto;
    width: 80%;
}

#infoBox[b-h4ar47suqk]{
    
}
/* _content/gui-dos/Pages/OrderingSite.razor.rz.scp.css */
body[b-cgqux6sexy] {
    background-color: #309D9B;
    margin: 0;
    padding: 0;
    height: 94.45vh;
    background-size: 100%;
}

#product-list[b-cgqux6sexy] {
    width: 82%;
    float: right;
    height: 90vh;
    overflow: hidden;
    overflow-y: auto;
}

#filter[b-cgqux6sexy] {
    width: 18%;
    float: left;
    border-style: ridge;
    height: 90vh;
}

.title_Header[b-cgqux6sexy] {
    text-align: center;
    padding-top: 0.5vh;
}

.sub_Header[b-cgqux6sexy] {
    padding-left: 1vw;
}

.Price_Range[b-cgqux6sexy] {
    display: inline-block;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.slider[b-cgqux6sexy] {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius: 5px;
    background: white; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover[b-cgqux6sexy] {
    opacity: 1;
}

.slider[b-cgqux6sexy]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider[b-cgqux6sexy]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.price_One[b-cgqux6sexy] {
    float: left;
}

.price_Two[b-cgqux6sexy] {
    float: right;
}


.container[b-cgqux6sexy] {
    flex-wrap: wrap;
}

.wrap[b-cgqux6sexy] {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-container[b-cgqux6sexy] {
    padding: 0;
    margin: 0;
    list-style: none;
    /*border: 1px solid silver;*/
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    position: relative;
    align-items: start;
    justify-content: space-evenly;
}

.flex-body[b-cgqux6sexy] {
    height: 360px;
    width: 400px;
    background-color: white;
    padding-bottom: 1vh;
    margin: 10px;
    border: solid;
    border-width: thin;
    position: relative;
    transition: box-shadow 1s;
    transition: height 0.5s;
}

.flex-body:hover[b-cgqux6sexy] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 380px;
    z-index: 1;
}

.flex-img[b-cgqux6sexy] {
    height: 320px;
    width: 100%;
    background-size: 100% 320px;
    line-height: 100px;
    /* background-image: url("https://i.insider.com/59ca65fefca6e427008b4776?width=700"); */
}

.flex-text[b-cgqux6sexy] {
    padding-top: 5px;
}

.flex-title[b-cgqux6sexy] {
    float: left;
    padding-left: 1vw;
    font-size: large;
}

.flex-price[b-cgqux6sexy] {
    float: right;
    padding-right: 1vw;
    font-size: large;
}

.see-more[b-cgqux6sexy] {
    text-align: left;
    position: absolute;
    bottom: 0.5vh;
    left: 1vw;
    visibility: hidden;
    border: none;
    background: none;
    padding: 0;
    height: fit-content;
}

.flex-body:hover .see-more[b-cgqux6sexy] {
    visibility: visible;
}

.description[b-cgqux6sexy] {
    z-index: 101;
    background-color: white;
    height: fit-content;
    margin: 10px;
}
/* _content/gui-dos/Shared/MainLayout.razor.rz.scp.css */
.page[b-08veovrlca] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content px-4[b-08veovrlca]{
}

.main[b-08veovrlca] {
    flex: 1;
    background-color: #309D9B;
    width: 100%;
    height: auto;
}

.sidebar[b-08veovrlca] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-08veovrlca] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.left-allign[b-08veovrlca] {
    flex: 1 1 1px;
}

    .top-row[b-08veovrlca]  a, .top-row .btn-link[b-08veovrlca] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-08veovrlca] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-08veovrlca] {
        display: none;
    }

    .top-row.auth[b-08veovrlca] {
        justify-content: space-between;
    }

    .top-row a[b-08veovrlca], .top-row .btn-link[b-08veovrlca] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-08veovrlca] {
        flex-direction: row;
    }

    .sidebar[b-08veovrlca] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-08veovrlca] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-08veovrlca] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/gui-dos/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-0bg4fruwb1] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-0bg4fruwb1] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-0bg4fruwb1] {
    font-size: 1.1rem;
}

.oi[b-0bg4fruwb1] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-0bg4fruwb1] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-0bg4fruwb1] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-0bg4fruwb1] {
        padding-bottom: 1rem;
    }

    .nav-item[b-0bg4fruwb1]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-0bg4fruwb1]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-0bg4fruwb1]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-0bg4fruwb1] {
        display: none;
    }

    .collapse[b-0bg4fruwb1] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
