playground/BlazorApp/bin/Debug/net5.0/BlazorApp.deps.json
playground/BlazorApp/bin/Debug/net5.0/BlazorApp.dll
playground/BlazorApp/bin/Debug/net5.0/BlazorApp.exe
playground/BlazorApp/bin/Debug/net5.0/BlazorApp.pdb
playground/BlazorApp/bin/Debug/net5.0/BlazorApp.runtimeconfig.dev.json
playground/BlazorApp/bin/Debug/net5.0/BlazorApp.StaticWebAssets.xml
playground/BlazorApp/bin/Debug/net5.0/BlazorApp.Views.dll
playground/BlazorApp/bin/Debug/net5.0/BlazorApp.Views.pdb
playground/BlazorApp/bin/Debug/net5.0/ref/BlazorApp.dll
playground/BlazorApp/obj/BlazorApp.csproj.nuget.dgspec.json
playground/BlazorApp/obj/BlazorApp.csproj.nuget.g.props
playground/BlazorApp/obj/project.assets.json
playground/BlazorApp/obj/project.nuget.cache
playground/BlazorApp/obj/Debug/net5.0/apphost.exe
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.AssemblyInfo.cs
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.assets.cache
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.csproj.AssemblyReference.cache
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.csproj.CoreCompileInputs.cache
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.csproj.FileListAbsolute.txt
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.dll
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.GeneratedMSBuildEditorConfig.editorconfig
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.genruntimeconfig.cache
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.pdb
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.RazorComponent.input.cache
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.RazorCoreGenerate.cache
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.Views.dll
playground/BlazorApp/obj/Debug/net5.0/BlazorApp.Views.pdb
playground/BlazorApp/obj/Debug/net5.0/Razor/_Imports.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/App.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/_Host.cshtml.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/Counter.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/CounterPartialClass.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/Example.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/FetchData.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/FormExample.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/Fragment.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/Index.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/Isvaerftet.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/Products.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/ProductsInsert.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/Splat.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Pages/Tree.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Shared/NavMenu.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Shared/NothingLayout.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/Razor/Shared/SurveyPrompt.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/BlazorApp.dll
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/BlazorApp.pdb
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Pages/Counter.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Pages/CounterPartialClass.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Pages/Example.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Pages/FetchData.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Pages/FormExample.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Pages/Fragment.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Pages/Isvaerftet.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Pages/Products.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Pages/ProductsInsert.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Pages/Splat.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Pages/Tree.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Shared/NavMenu.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Shared/NothingLayout.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
playground/BlazorApp/obj/Debug/net5.0/ref/BlazorApp.dll
playground/BlazorApp/obj/Debug/net5.0/staticwebassets/BlazorApp.StaticWebAssets.Manifest.cache
playground/BlazorApp/obj/Debug/net5.0/staticwebassets/BlazorApp.StaticWebAssets.xml
playground/BlazorApp/.vs/BlazorApp/config/applicationhost.config
playground/BlazorApp/.vs/BlazorApp/v16/.suo
gui-dos/bin/Debug/net5.0/appsettings.Development.json
gui-dos/bin/Debug/net5.0/appsettings.json
gui-dos/bin/Debug/net5.0/gui-dos.deps.json
gui-dos/bin/Debug/net5.0/gui-dos.dll
gui-dos/bin/Debug/net5.0/gui-dos.exe
gui-dos/bin/Debug/net5.0/gui-dos.pdb
gui-dos/bin/Debug/net5.0/gui-dos.runtimeconfig.json
gui-dos/bin/Debug/net5.0/gui-dos.StaticWebAssets.xml
gui-dos/bin/Debug/net5.0/gui-dos.Views.dll
gui-dos/bin/Debug/net5.0/gui-dos.Views.pdb
gui-dos/bin/Debug/net5.0/ref/gui-dos.dll
gui-dos/obj/Debug/net5.0/apphost.exe
gui-dos/obj/Debug/net5.0/gui-dos.csproj.CopyComplete
gui-dos/obj/Debug/net5.0/gui-dos.csproj.CoreCompileInputs.cache
gui-dos/obj/Debug/net5.0/gui-dos.csproj.FileListAbsolute.txt
gui-dos/obj/Debug/net5.0/gui-dos.dll
gui-dos/obj/Debug/net5.0/gui-dos.genruntimeconfig.cache
gui-dos/obj/Debug/net5.0/gui-dos.pdb
gui-dos/obj/Debug/net5.0/gui-dos.RazorCoreGenerate.cache
gui-dos/obj/Debug/net5.0/gui-dos.RazorTargetAssemblyInfo.cache
gui-dos/obj/Debug/net5.0/gui-dos.RazorTargetAssemblyInfo.cs
gui-dos/obj/Debug/net5.0/gui-dos.TagHelpers.output.cache
gui-dos/obj/Debug/net5.0/gui-dos.Views.dll
gui-dos/obj/Debug/net5.0/gui-dos.Views.pdb
gui-dos/obj/Debug/net5.0/Razor/_Imports.razor.g.cs
gui-dos/obj/Debug/net5.0/Razor/App.razor.g.cs
gui-dos/obj/Debug/net5.0/Razor/Pages/_Host.cshtml.g.cs
gui-dos/obj/Debug/net5.0/Razor/Pages/Counter.razor.g.cs
gui-dos/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
gui-dos/obj/Debug/net5.0/Razor/Pages/FetchData.razor.g.cs
gui-dos/obj/Debug/net5.0/Razor/Pages/Index.razor.g.cs
gui-dos/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
gui-dos/obj/Debug/net5.0/Razor/Shared/NavMenu.razor.g.cs
gui-dos/obj/Debug/net5.0/Razor/Shared/SurveyPrompt.razor.g.cs
gui-dos/obj/Debug/net5.0/RazorDeclaration/gui-dos.dll
gui-dos/obj/Debug/net5.0/RazorDeclaration/gui-dos.pdb
gui-dos/obj/Debug/net5.0/ref/gui-dos.dll
gui-dos/obj/Debug/net5.0/scopedcss/bundle/gui-dos.styles.css
gui-dos/obj/Debug/net5.0/scopedcss/projectbundle/gui-dos.bundle.scp.css
gui-dos/obj/Debug/net5.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
gui-dos/obj/Debug/net5.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
gui-dos/obj/Debug/net5.0/staticwebassets/gui-dos.StaticWebAssets.Manifest.cache
gui-dos/obj/Debug/net5.0/staticwebassets/gui-dos.StaticWebAssets.xml
gui-dos/bin/Debug/net5.0/FsCheck.dll
gui-dos/bin/Debug/net5.0/FSharp.Core.dll
gui-dos/bin/Debug/net5.0/gui-dos.runtimeconfig.dev.json
gui-dos/obj/Debug/net5.0/gui-dos.TagHelpers.input.cache
gui-dos/obj/Debug/net5.0/gui-dos.csproj.AssemblyReference.cache
