body[b-md6k7013el]{
    background-color: #309D9B;
    margin: 0;
    padding: 0;
    height: 94.45vh;
    background-size: 100%;
}

#filter[b-md6k7013el] {
    width: 18%;
    float: left;
    border-style: ridge;
    height: 90vh;
}

.title_Header[b-md6k7013el] {
    text-align: center;
    padding-top: 0.5vh;
}

.sub_Header[b-md6k7013el] {
    padding-left: 1vw;
}

.Price_Range[b-md6k7013el] {
    display: inline-block;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.price_One[b-md6k7013el] {
    float: left;
}

.price_Two[b-md6k7013el] {
    float: right;
}

/*#product-list {
    width: 82%;
    float: right;
    height: 90vh;
    padding: le
}*/

.container[b-md6k7013el] {
    
    flex-wrap: wrap;
}

.wrap[b-md6k7013el] {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}  

.flex-container[b-md6k7013el] {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    position: relative;
    align-items: start;
    justify-content: space-evenly;
}

.flex-item[b-md6k7013el] {
    background: tomato;
    padding: 5px;
    width: 330px;
    height: 360px;
    margin: 10px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    background-image: url("https://i.insider.com/59ca65fefca6e427008b4776?width=700");
}

.flex-container li:last-of-type[b-md6k7013el] {

}