<div>
    <h3>@Product.Title</h3>
    <p>
        @Product.Description
    </p>
    <p>
        Price: @((double) Product.Price / 100)
    </p>
    <ul>
        @foreach (string tag in Product.Tags.Split(' '))
        {
            @if (tag != "")
            {
                <li>
                    @tag
                </li>
            }
        }
    </ul>
    <img src="@Product.Image">
</div>

@code {
    [Parameter]
    public Product Product { get; set; }
}
