@inject ShoppingCart ShoppingCart

<div>
    <strong>
        Title: @GiftBasket.Title
    </strong>
    <br>
    <strong>
        Comment: @GiftBasket.Comment
    </strong>
    <br>
    <strong>
        Price: @GiftBasket.Price
    </strong>
    <br>
</div>

@code {
    [Parameter]
    public GiftBasket GiftBasket { get; set; }
}
