@page "/cart"

@inject ShoppingCart ShoppingCart
@inject NavigationManager NavMan

<button @onclick="goToOrder">
    Order
</button>

@code
{
    private void goToOrder()
    {
        NavMan.NavigateTo("/order-fill");
    }
}
