<div>
    <p>
        Ændring: @Change.ChangeString
    </p>
    <p>
        Lavet af: @Change.Name
    </p>
    <p>
        Dato: @Change.Date
    </p>
</div>

@code {
    [Parameter]
    public Change Change { get; set; }
}
