@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavMan
@inject TokenProvider TokenProvider

<div class="d-flex justify-center my-2">
    <AuthorizeView>
        <Authorized>
            <form action="/admin/logout?returnUrl=%2F" method="post">
                <MudButton StartIcon="fas fa-sign-out-alt" ButtonType="ButtonType.Submit">
                    Log ud
                </MudButton>
                <input name="__RequestVerificationToken" type="hidden"
                    value="@TokenProvider.XsrfToken">
            </form>
        </Authorized>
        <NotAuthorized>
            <a href="/admin/login" style="text-decoration: none">
                <MudButton StartIcon="fas fa-sign-in-alt" Variant="Variant.Text">
                    Log ind
                </MudButton>
            </a>
        </NotAuthorized>
    </AuthorizeView>
</div>