@page "/info/cancel/{CancelId}"

@using gui_dos.Data
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<IsvaerftetDbContext> DbContextFactory


@if (_Order == null)
{
    <p>
        Der er ikke en ordre med dette Id.
    </p>
}
else if (_Status != OrderStatus.Pending)
{
    <p>
        Vi har allerede acceptere denne ordre. Kontakt os venligst for mere information.
    </p>
}
else
{
    <p>
        Din ordre er nu annulleret.
    </p>
}

@code {
    [Parameter]
    public string CancelId { get; set; }

    private Order _Order;
    private OrderStatus _Status;

    protected override async Task OnInitializedAsync()
    {
        using (var ctx = DbContextFactory.CreateDbContext())
        {
            try
            {
                _Order = await ctx.Orders.SingleAsync(o => o.CancelId == CancelId);
                _Status = _Order.Status;


                if (_Order.Status == OrderStatus.Pending)
                {
                    Order o = ctx.Orders.Update(_Order).Entity;
                    o.Status = OrderStatus.Cancelled;

                    Change c = new Change( DateTime.Now.ToString("")
                                         , "Customer cancelled order"
                                         , "Customer" );

                    o.Changelog.Add(c);

                    await ctx.SaveChangesAsync();
                }
            }
            catch
            {
                _Order = null;
            }
        }
    }
}
