@page "/dummy-delete"
@using System.Collections.Generic
@using gui_dos.Models
@using gui_dos.Data
@using Microsoft.EntityFrameworkCore;

@inject IDbContextFactory<IsvaerftetDbContext> DbContextFactory
@inject NavigationManager NavMan

<h1>Remove Dummy data</h1>

@if (dummys == null)
{
    <div>
        Loading...
    </div>
}

@if (dummys != null && dummys.Count == 0)
{
    <div>
        No dummys found...
    </div>
}

@if (dummys != null)
{
    @foreach (var dummy in dummys)
    {
        <div @key="dummy">
            @foreach (string img in dummy.Images)
            {
                <button @onclick="() => dummyDelete(dummy)">
                    <img src="@img">
                </button>
            }
        </div>
    }
}

@code
{
    private List<DummyModel> dummys;

    protected override async Task OnInitializedAsync()
    {
        using (var ctx = DbContextFactory.CreateDbContext())
        {
            dummys = await ctx.Dummys.ToListAsync();
        }
    }

    private async Task dummyDelete(DummyModel d)
    {
        using (var ctx = DbContextFactory.CreateDbContext())
        {
            ctx.Dummys.Remove(d);
            await ctx.SaveChangesAsync();
            dummys = await ctx.Dummys.ToListAsync();
        }
    }
}

