@page "/order-fill"
@using gui_dos.Forms
@using gui_dos.Models
@using gui_dos.Data
@using Microsoft.EntityFrameworkCore

@inject Data.ShoppingCart ShoppingCart
@inject IDbContextFactory<IsvaerftetDbContext> DbContextFactory
@inject NavigationManager NavMan

<h2>Udfyld ordre detaljer.</h2>

<EditForm Model="@orderForm" OnValidSubmit="@OrderOrder">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Fornavn">Fornavn</label>
        <InputText @bind-Value=orderForm.FirstName />
    </div>
    <div class="form-group">
        <label for="Efternavn">Efternavn</label>
        <InputTextArea @bind-Value=orderForm.LastName />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <InputTextArea @bind-Value=orderForm.Email />
    </div>
    <div class="form-group">
        <label for="Telefon">Telefon</label>
        <InputTextArea @bind-Value=orderForm.PhoneNumber />
    </div>
    <div class="form-group">
        <label for="Kommentar">Kommentar</label>
        <InputTextArea @bind-Value=orderForm.Comment />
    </div>
    <button type="submit">Bestil Ordre</button>
</EditForm>

@code 
{
    private OrderForm orderForm = new OrderForm();

    private async Task OrderOrder() 
    {
        using (var ctx = DbContextFactory.CreateDbContext())
        {
            Order order = new Order(ShoppingCart.GiftBaskets);
            order.FillInformation(orderForm);
            ctx.Orders.Add(order);
            await ctx.SaveChangesAsync();
        }
        NavMan.NavigateTo("/orders");
    }
}