@page "/"
<!-- Dette er path'en til siden -->

<h1>Homepage</h1>

<a>Her skal vaere den oenskede forside</a>

<LoginDisplay />

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
        <p>You can only see this content if you're authorized.</p>
    </Authorized>
    <NotAuthorized>
        <h1>Authentication Failure!</h1>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>
