@page "/"
<!-- Dette er path'en til siden -->

<h1>Homepage</h1>

<a>Her skal vaere den oenskede forside</a>

<a href="./gavekurv">Gavekurv</a>
    
<SurveyPrompt Title="How is Blazor working for you?" />
