@page "/gavekurv"

@using gui_dos.Data
@using System.Collections

@if (false)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="container">
    <div class="product-page-wrapper">

        <div class="filter-row">
            <div class="col-xl-6">
                <a>Pris</a>
                <RadzenSlider Range="true" @bind-Value=@values TValue="IEnumerable<int>" Change=@(args => OnChange(args, "Range Slider")) />
                <br /> <a>Her er de valgte vaerdier</a>
                <p> @JoinVal </p>
                <br />
            </div>
        </div>


        <div class="product-list">
            <div class="product">
                <div class="product-img">
                    <a href="https://youtube.com">
                        <img class="NAVN" src="Images/Monkey.jpg" alt="Logo" width="400" height="300">
                    </a>
                </div>
                <div class="details">
                    <div class="navn">
                        <a>Her er et navn og en pris</a>
                    </div>
                    <div class="price">
                        <a>200,- kr</a>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

}

@code {
    // https://blazor.radzen.com/slider

    IEnumerable<int> values = new int[] { 14, 78 };
    IEnumerable<int> negativeValues = new int[] { -100, 100 };
    //int value = 67;
    //int negativeValue = 0;
    //int valueWithStep = 30;
    string[] Val;
    string JoinVal = $"Pris mellem {14},- og {78},-";

    void OnChange(dynamic value, string name)
    {
        var str = value is IEnumerable ? string.Join(", ", value) : value;
        Val = str.Split(",");
        JoinVal = $"Pris mellem {Val[0]},- og {Val[1]},-";
    }
}