@page "/gavekurv"

@using gui_dos.Data
@using Syncfusion.Blazor.Inputs

@if (false)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        <li><a href="">1. page</a></li>
        <li><a href="">2. page</a></li>
        <li><a href="">3. page</a></li>
        <li><a href="">4. page</a></li>
    </ul>

    <img src="" alt="Logo" width="0" height="0">

}

