body {
    background-color: #309D9B;
    margin: 0;
    padding: 0;
    height: 94.45vh;
    background-size: 100%;
}

#product-list {
    width: 82%;
    float: right;
    height: 90vh;
    overflow: hidden;
    overflow-y: auto;
}

#filter {
    width: 18%;
    float: left;
    border-style: ridge;
    height: 90vh;
}

.title_Header {
    text-align: center;
    padding-top: 0.5vh;
}

.sub_Header {
    padding-left: 1vw;
}

.Price_Range {
    display: inline-block;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.price_One {
    float: left;
}

.price_Two {
    float: right;
}


.container {
    flex-wrap: wrap;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    /*border: 1px solid silver;*/
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    position: relative;
    align-items: start;
    justify-content: space-evenly;
}

.flex-body {
    height: 360px;
    width: 400px;
    background-color: white;
    padding-bottom: 1vh;
    margin: 10px;
    border: solid;
    border-width: thin;
    position: relative;
    transition: box-shadow 1s;
    transition: height 0.5s;
}

    .flex-body:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 380px;
        z-index: 1;
    }

.flex-img {
    height: 320px;
    width: 100%;
    background-size: 100% 320px;
    line-height: 100px;
    background-image: url("https://i.insider.com/59ca65fefca6e427008b4776?width=700");
}

.flex-text {
    padding-top: 5px;
}

.flex-title {
    float: left;
    padding-left: 1vw;
    font-size: large;
}

.flex-price {
    float: right;
    padding-right: 1vw;
    font-size: large;
}

.see-more {
    text-align: left;
    position: absolute;
    bottom: 0.5vh;
    left: 1vw;
    visibility: hidden;
    border: none;
    background: none;
    padding: 0;
}

.flex-body:hover .see-more {
    visibility: visible;
}

.description {
    z-index: 101;
    background-color: white;
    height: fit-content;
    margin: 10px;
}
