@page "/gavekurv"

@using gui_dos.Data
@using System.Collections.Generic


<body>
    <section id="product-page-wrapper">

        <!--Filter section-->
        <section id="filter">
            <h2 class="title_Header">Filter</h2>
            <h3 class="sub_Header">Pris</h3>
            <div class="Price_Range">
                <RadzenSlider Range="true" @bind-Value=@values TValue="IEnumerable<int>" Change=@(args => OnChange(args, "Range Slider")) />
                <p class="price_One"> @JoinVal1,- </p>
                <p class="price_Two"> @JoinVal2,-</p>
            </div>
            <br />
            <h3 class="sub_Header">Præferencer</h3>
            <div class="Preferences">
                <form>
                    <input type="checkbox" id="checkbox1" />
                    <label for="checkbox1">Sæson-</label>
                </form>
            </div>
        </section>

        <!--Product section-->
        <!--TODO: Link to Database-->
        <section id="product-list">
            <h1 class="title_Header">Produkter</h1>
            <ul class="flex-container wrap">
                @foreach (var item in Products)
                {
                    @if (item.Price >= @start && item.Price <= @end)
                    {
                        <li>
                            <div class="flex-body">
                                <div class="flex-img"></div>
                                <div class="flex-text">
                                    <h4 class="flex-title">@item.Title</h4>
                                    <h4 class="flex-price">@item.Price,- kr</h4>
                                </div>
                                <button class="see-more" @onclick="ShowDescription">Se mere</button>
                                <br>
                                <div class="description" hidden="@isShown">
                                    <p>@item.Description</p>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </section>

    </section>

</body>

@code {
    // https://blazor.radzen.com/slider
    static int start = 1;
    static int end = 100;
    IEnumerable<int> values = new int[] { start, end };
    IEnumerable<int> negativeValues = new int[] { -100, 100 };
    string[] Val;
    string JoinVal1 = $"{start}";
    string JoinVal2 = $"{end}";

    void OnChange(dynamic value, string name)
    {
        var str = value is IEnumerable<int> ? string.Join(", ", value) : value;
        Val = str.Split(",");
        JoinVal1 = $"{Val[0]}";
        JoinVal2 = $"{Val[1]}";
    }

    // Delete when linked to Database
    public class Product
    {
        public int ProductId { get; set; }
        public int Price { get; set; }
        public string Title { get; set; }
        public string Description { get; set; }
        public string Image { get; set; }

        public Product(int id, int price, string Title, string D, string I)
        {
            this.ProductId = id;
            this.Title = Title;
            this.Description = D;
            this.Image = I;
        }

        public Product()
        {
        }
    }
    public class Content
    {
        public string content = "";
    }

    static Product a = new Product { ProductId = 1, Price = 27, Title = "Gavekurv 1", Description = "en flot gavekurv med ting", Image = "c" };
    static Product b = new Product(2, 20, "Gavekurv 2", "en flot gavekurv med få ting", "c");
    static Product c = new Product(3, 300, "c", "b", "c");
    static Product d = new Product { ProductId = 4, Price = 131, Title = "Gavekurv 3", Description = "en flot gavekurv med ting", Image = "c" };
    static Product e = new Product(5, 200, "Gavekurv 4", "en flot gavekurv med ting", "c");
    static Product f = new Product(6, 300, "bb", "b", "c");
    static Product g = new Product { ProductId = 7, Price = 95, Title = "Gavekurv 5", Description = "en flot gavekurv med ting", Image = "c" };
    static Product h = new Product(8, 250, "Gavekurv 6", "en flot gavekurv med ting", "c");
    static Product j = new Product(9, 700, "Gavekurv 7", "en flot gavekurv med mange ting", "c");

    public static List<Product> Products = new List<Product> { a, b, c, d, e, f, g, h, j };
    public static List<Content> Conten = new List<Content> { };



    private bool isShown { get; set; } = true;
    private void ShowDescription()
    {
        isShown = !isShown;

    }

}