#filter {
    width: 18%;
    float:left;
    height: 85vh;
    word-wrap: break-word;
}

.title_Header {
    text-align: center;
    padding-top: 0.5vh;
}

.sub_Header {
    padding-left: 1vw;
}

.price_range {
    display: inline-block;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius: 5px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.price_One {
    float: left;
}

.price_Two {
    float: right;
}

.preferences {
    padding-left: 10%;
    padding-right: 10%;
}


.flex-container {
    overflow: hidden;
    overflow-y: auto;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.flex-child {
    margin: 25px auto 25px auto;
}

.filter-box {
    padding:2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
