body h1{
    padding-left: 2vw;
    padding-bottom: 1vh;
}

.new-product {

}

.product-title {

}

.prduct-description {

}

description-box {
}

.product-price {
}

.product-image {

}

.title {
    font-weight: bold;
}