.header {
    padding-left: 2vw;
    padding-bottom: 1vh;
    margin-left: 0;
}

.new-product {
}

.product-title {
}

.prduct-description {

}

description-box {
}

.product-price {
}

.product-image {
}

.title {
    font-weight: bold;
}
