.page-wrapper {
    margin-left: 1vw;
}

body h1{
    padding-left: 2vw;
    padding-bottom: 1vh;
}

.new-product {

}

.product-title {

}

.prduct-description {

}

description-box {
}

.product-price {
}

.product-image {

}

.title {
    font-weight: bold;
}

.buttons {
    border: solid;
    border-width: 1px;
    border-radius: 12px;
    padding: 5px 7px;
}

.buttons:hover {
    color: red;
}