.page-wrapper {
    margin-left: 1vw;
}

.header {
    padding-left: 2vw;
    padding-bottom: 1vh;
    margin-left: 0;
}

.new-product {
}

.product-title {
}

.prduct-description {

}

description-box {
}

.product-price {
}

.product-image {
}

.title {
    font-weight: bold;
}

.buttons {
    border: solid;
    border-width: 1px;
    border-radius: 12px;
    padding: 5px 2px;
}

.buttons:hover {
    color: red;
}