@page "/strip-information"

@using System.Collections.Generic
@using gui_dos.Models
@using gui_dos.Data
@using Microsoft.EntityFrameworkCore;

@inject IDbContextFactory<IsvaerftetDbContext> DbContextFactory
@inject NavigationManager NavMan

<h1>Strip Information from Expired Orders</h1>

@if (oldOrders != null)
{
    @foreach (var expired in oldOrders)
    {
        <div @key="expired">
            @expired.ToString()
        </div>
    }
}

@code
{
    private List<Order> oldOrders;
    private Order expOrder;
    protected override async Task OnInitializedAsync()
    {
        using (var ctx = DbContextFactory.CreateDbContext())
        {
            DateTime now = DateTime.Now;
            oldOrders = await ctx.Orders
                .Where(d => d.DateOrdered.AddDays(1825) < now)
                .ToListAsync();

            foreach (Order expired in oldOrders)
            {
                expOrder = await ctx.Orders.SingleAsync(p => p.OrderId == expired.OrderId);
                Order dbExpOrder = ctx.Orders.Update(expOrder).Entity;
                dbExpOrder.StripInformation();
                await ctx.SaveChangesAsync();
            }
        }
    }
}
