@import '';

/* _content/gui-dos/Pages/OrderingSite.razor.rz.scp.css */
body[b-md6k7013el]{
    background-color: #309D9B;
    margin: 0;
    padding: 0;
    height: 94.45vh;
    background-size: 100%;
}

#filter[b-md6k7013el] {
    width: 18%;
    float: left;
    border-style: ridge;
    height: 90vh;
}

.title_Header[b-md6k7013el] {
    text-align: center;
    padding-top: 0.5vh;
}

.sub_Header[b-md6k7013el] {
    padding-left: 1vw;
}

.Price_Range[b-md6k7013el] {
    display: inline-block;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.price_One[b-md6k7013el] {
    float: left;
}

.price_Two[b-md6k7013el] {
    float: right;
}

/*#product-list {
    width: 82%;
    float: right;
    height: 90vh;
    padding: le
}*/

.container[b-md6k7013el] {
    
    flex-wrap: wrap;
}

.wrap[b-md6k7013el] {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}  

.flex-container[b-md6k7013el] {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    position: relative;
    align-items: start;
    justify-content: space-evenly;
}

.flex-item[b-md6k7013el] {
    background: tomato;
    padding: 5px;
    width: 330px;
    height: 360px;
    margin: 10px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    background-image: url("https://i.insider.com/59ca65fefca6e427008b4776?width=700");
}

.flex-container li:last-of-type[b-md6k7013el] {

}
/* _content/gui-dos/Shared/MainLayout.razor.rz.scp.css */
.page[b-08veovrlca] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content px-4[b-08veovrlca]{
}

.main[b-08veovrlca] {
    flex: 1;
    background-color: #309D9B;
    width: 100%;
    height: auto;
}

.sidebar[b-08veovrlca] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-08veovrlca] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.left-allign[b-08veovrlca] {
    flex: 1 1 1px;
}

    .top-row[b-08veovrlca]  a, .top-row .btn-link[b-08veovrlca] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-08veovrlca] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-08veovrlca] {
        display: none;
    }

    .top-row.auth[b-08veovrlca] {
        justify-content: space-between;
    }

    .top-row a[b-08veovrlca], .top-row .btn-link[b-08veovrlca] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-08veovrlca] {
        flex-direction: row;
    }

    .sidebar[b-08veovrlca] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-08veovrlca] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-08veovrlca] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/gui-dos/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-0bg4fruwb1] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-0bg4fruwb1] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-0bg4fruwb1] {
    font-size: 1.1rem;
}

.oi[b-0bg4fruwb1] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-0bg4fruwb1] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-0bg4fruwb1] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-0bg4fruwb1] {
        padding-bottom: 1rem;
    }

    .nav-item[b-0bg4fruwb1]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-0bg4fruwb1]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-0bg4fruwb1]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-0bg4fruwb1] {
        display: none;
    }

    .collapse[b-0bg4fruwb1] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
